def spare(strings,queries,result):
  for i in range(len(queries)) :
      count=0
      for j in range(len(strings)) :
          if queries[i]==strings[j] :
              count +=1
      result.append(count)
  for i in range (len(result)):
      print(result[i])

strings=[]
queries=[]
result=[]
nOFstring=int(input())
for i in range(0,nOFstring):
    element=input()
    strings.append(element)

nOFqueries=int(input())
for i in range(0,nOFqueries):
    element=input()
    queries.append(element)
spare(strings,queries,result)
